@keyframes fade {
    0%{ transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.Services{
    height:50vh;
}



i{
    margin-right: 3rem;
    max-width:100%;
}

.design{
    font-size: 25rem;
    color:#01d8ff;
    animation: fade 2s infinite linear;
}
